@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.App{
  width: 80%;
  margin: auto;
  background-color: #e2dfdf;
  position: relative;
  max-width: 1200px;
}
a{
  text-decoration: none;
  color: white;
}
/* JOBS STYLES */

.timer{
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.timer > div{
  margin: 0 10px;
}
@media screen and (max-width: 768px){
  .timer{
   font-size: 15px;
  }

}
  

.job-time{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:0 0 20px 0;
}
.job-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1976d2;
}

.job-description p{
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: #2a323d;
}

h2,h3,h4,h5,h6{
  letter-spacing: 0.6px;
  color: #083b6e;
}

.job-bottom span{
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: rgb(45, 44, 51);

  border-radius: 5px;
  padding: 3px;
}

.job-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* FORM STYLES. */
.form-input{
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-bottom: 20px;
  z-index: -1;
}

/* SIGNUP SECTION */
.signup-form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.login-sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}
@media screen and (max-width: 768px){
  .signup-form{
    flex-direction: column;
  }
  .login-sidebar{
    display: none;
  }
}
.login-sidebar img{
  width: 100%;
}
.signup-form:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transition: .3s ease-in-out;
  
}
/* HOME NAVBAR STYLES */
.menu-icon{
  display: none;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.nav-links ul{
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  list-style: none;

  font-weight: 500;
  letter-spacing: 0.6px;
 
}

.active{
  color: #f4f4f4;
  background-color: #b5b5b5;
  transition: .3s ease-in-out;
}

.nav-links ul a{
  margin-right: 30px;
  color: #083b6e;
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;

}

.jobsy-logo{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.jobsy-logo h1{
  font-size: 1em;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: #083b6e;
  text-decoration: none;
}

@media screen and (max-width: 768px){
  .jobsy-logo h1{
    display: none;
  }
  .menu-icon{
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
    cursor: pointer;
  }
  .nav-links.mobile ul{
    display:flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    text-align: center;
   z-index: 999;
    top: 30px;
    right: -0;
    background-color: #fff;
    width: 50%;
    height: auto;
    margin-right: 0;
    padding: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  .nav-links.mobile ul a{
    padding: 20px 0;
    margin-right: 0;
    margin-bottom: 20px;
    color: #083b6e;
    font-size: 1rem;
    width: 100%;
  }

  .nav-links.mobile ul a:hover{
    color: #e2e2e2;
     background-color: #083b6e;
     transition: .3s ease-in-out;
  }

  .nav-links ul{
    display: none;
  }
 
}
  


.jobsy-logo img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

/* HOME PAGE STYLES */
.time{
  padding: 20px;
}
.time h1, h2{
  color: #083b6e;
  margin:0 ;
  
}
.home-page h1{
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  font-weight: bolder;
}
.home-page p{
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: #2a323d;
}
.home-page{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  margin: 20px;
  height: 60vh;
}

.home-wrapper{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

@media screen and (max-width: 500px){
  .home-wrapper{
    display: flex;
    flex-direction: column;
  }
}
  


.home-page a{
  color: #fff;
  text-decoration: none;
}

section{
  width: 50%;
}

.image-home img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

/* POPUP */
.bid-popup{
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  position: relative;
  border-radius: 15px;
  width: 300px;
}
.bid-popup h3{
  font-weight: 800;
  letter-spacing: 0.6px;
  color: #083b6e;
  margin: 0;
}
.social-icon span{
  color: #083b6e;
}
.enquire-popup > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.popup-overlay {
  background-color: #141414bf;

}